  <div class="card mb-5 mb-lg-0 ">
    <div class="card-body">
      <!-- <h5 class="card-title text-muted text-uppercase text-center ">{{title}}</h5>
      <h6 class="card-price text-center">${{price}}<span class="period">/month</span></h6>
      <hr>
  
      <ul class="fa-ul">
        <li><span class="fa-li"><i class="fas fa-check"></i></span>{{content1}}</li>
        <li><span class="fa-li"><i class="fas fa-check"></i></span>{{content2}}</li>
        <li><span class="fa-li"><i class="fas fa-check"></i></span>{{content3}}</li>
        <li><span class="fa-li"><i class="fas fa-check"></i></span>{{content4}}</li>
        <li class="text-muted"><span class="fa-li"><i class="fas fa-times"></i></span>{{content5}}</li>
        <li class="text-muted"><span class="fa-li"><i class="fas fa-times"></i></span>{{content6}}</li>
        <li class="text-muted"><span class="fa-li"><i class="fas fa-times"></i></span>{{content7}}
        </li>
        <li class="text-muted"><span class="fa-li"><i class="fas fa-times"></i></span>{{content8}}</li>
      </ul> -->

      <h5 class="card-title text-muted text-uppercase text-center ">{{contentObj?.title}}</h5>
      <h6 class="card-price text-center">${{contentObj?.price}}<span class="period">/month</span></h6>
      <hr>
  
      <ul class="fa-ul">
        <li><span class="fa-li"><i class="fas fa-check"></i></span>{{contentObj?.value1}}</li>
        <li><span class="fa-li"><i class="fas fa-check"></i></span>{{contentObj?.value2}}</li>
        <li><span class="fa-li"><i class="fas fa-check"></i></span>{{contentObj?.value3}}</li>
        <li><span class="fa-li"><i class="fas fa-check"></i></span>{{contentObj?.value4}}</li>
        <li class="text-muted"><span class="fa-li"><i class="fas fa-times"></i></span>{{contentObj?.value5}}</li>
        <li class="text-muted"><span class="fa-li"><i class="fas fa-times"></i></span>{{contentObj?.value6}}</li>
        <li class="text-muted"><span class="fa-li"><i class="fas fa-times"></i></span>{{contentObj?.value7}}
        </li>
        <li class="text-muted"><span class="fa-li"><i class="fas fa-times"></i></span>{{contentObj?.value8}}</li>
      </ul>
      <div class="d-grid">
        <a href="#" class="btn btn-primary text-uppercase">Button</a>
      </div>
    </div>
  </div>




  